[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "JSmediation"]
	path = JSmediation
	url = https://github.com/cedricbatailler/jsmediation
